@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-dot {
  position: fixed;
  mix-blend-mode: difference; 
  background-color: white;
  left:0;
  top:0;
  width: 30px; 
  height: 30px;
  border-radius: 50%; 
  border: 2px solid static hsla(0, 0%, 100%, 0.5);
  z-index: 100;
}

body,html{
  overflow: hidden;
  width:100%;
  height: 100%;
}

body{
  margin:0;
  padding:0;
  background:#ffffff;
}
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index: -1;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background-color: white;
  mix-blend-mode: difference;
  border-radius:50%;
  animation: rise 10s infinite ease-in;
}

.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:7s;
}

.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:4s;
  animation-delay:1s;
}

.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:6s;
  animation-delay:2s;
}

.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:10s;
  animation-delay:1s;
}

.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:5s;
  animation-delay:1s;
}

.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:7s;
  animation-delay:3s;
}

.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:11s;
  animation-delay:2s;
}

.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:10%;
  animation-duration:5s;
  animation-delay:2s;
}

.bubble:nth-child(9){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:9s;
  animation-delay:4s;
}

.bubble:nth-child(10){
  width:45px;
  height:45px;
  left:5%;
  animation-duration:11s;
  animation-delay:4s;
}

.bubble:nth-child(11){
  width:70px;
  height:70px;
  left:15%;
  animation-duration:7s;
  animation-delay:4s;
}

.bubble:nth-child(12){
  width:20px;
  height:20px;
  left:75%;
  animation-duration:6s;
  animation-delay:3s;
}

@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

@keyframes loader_5191 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.square {
  background: #000;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}

#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}

#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}

#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}

#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}

#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}

#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}

#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}

#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}

#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}

/* :root { */
/*   --foreground-rgb: 0, 0, 0; */
/*   --background-start-rgb: 214, 219, 220; */
/*   --background-end-rgb: 255, 255, 255; */
/* } */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */
/**/
/* body { */
/*   color: rgb(var(--foreground-rgb)); */
/*   background: linear-gradient( */
/*       to bottom, */
/*       transparent, */
/*       rgb(var(--background-end-rgb)) */
/*     ) */
/*     rgb(var(--background-start-rgb)); */
/* } */
